.items img:active {
    transform: rotate(90deg);
}

.items img{
    padding-left: 5%;
    padding-top: 5%;
}

.items {
    display: flex;
    align-items: center;
}

* {
    background-color: navy;
    color: white;
}